*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: cornsilk;
}

#homebanner{
        background-color:cornsilk;
        padding: 2%;
    img{
        margin-left: 47%;
    }
    a{
        text-align: center;
        font-family: "sauna-new", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 35px;
        text-decoration: none;
        margin-left:4%;
        color: rgb(0, 0, 0);
    }
    nav{
        text-align: center;
    }
}

#header{
    margin-left: 10%;
    text-align: center;
        font-family: "sauna-new", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 40px;
        color: rgb(252, 170, 5);
}


h2{
    font-family: "sauna-new", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 55px;
        color: rgb(0, 0, 0);
        margin-left: 8%;
}

#About{
    display: flex;
            flex-direction: row;
            background-color: rgb(247, 231, 164);
            padding: 3%;
            border-radius: 4%;
    p{
        font-family: "futura-pt", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 30px;
        margin-right: 5%;
        margin-left:4%;
    }
    img{
        margin-left: 6%;
    }
        }

#location{
    display: flex;
            flex-direction: row;
            background-color: rgba(241,83,86,50%);
            padding: 3%;
            border-radius: 4%;
    p{
        font-family: "futura-pt", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 33px;
        margin-right: 5%;
        margin-left: 4%;
}
}

body{
    background-color: rgba(241 83 86 50%);
}

#Partner{
    background-color: rgba(133,219,107,50%);
    border-radius: 4%;
    h2{
        margin-left: 10%;
    }
    img{
        margin-left: 10%;
    }
}

img{
    border-radius: 8%;
}