*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(186, 139, 207);
}


#homebanner{
        background-color:rgb(216, 193, 227);
        padding: 2%;
    img{
        margin-left: 47%;
    }
    a{
        text-align: center;
        font-family: "sauna-new", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 40px;
        text-decoration: none;
        margin-left:4%;
        color: rgb(63, 53, 68);
    }
    nav{
        text-align: center;
    }
}
#header{
    text-align: center;
        font-family: "sauna-new", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 50px;
        color: rgb(89, 64, 99);
}

#caption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 6%;
    margin-right: 12%;
    font-family: "futura-pt", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 33px;
  color:#343434;
}

#merch{
    display: flex;
    flex-direction: row;
    
}

#merchtwo{
    display: flex;
    flex-direction: row;
}

img{
    border: #ffffff;
    border-radius: 100%;
    border-width: 40%;
    margin-left: 3%;
}

#image{
    margin-left: 13%;
}

#homebanner a:hover {
    color: rgb(131, 108, 142);
    border: 2px solid rgb(63, 53, 68);
    border-radius: 30%;
    background-color: white;
    padding: 1%;
  }