*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


#homebanner{
        background-color:rgb(248, 214, 214);
        padding: 2%;
        border-radius: 8%;
    img{
        margin-left: 47%;
    }
    a{
        text-align: center;
        font-family: "sauna-new", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 35px;
        text-decoration: none;
        margin-left:4%;
        color: rgb(33,115, 166);
    }
    nav{
        text-align: center;
    }
}
body{
    background-color: rgba(241,83,86,50%);
}

#header{
    text-align: center;
        font-family: "sauna-new", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 40px;
        color: rgb(0, 0, 0);
}


h3{
    font-family: "sauna-new", sans-serif;
        font-weight: 900;
        font-style: bold;
        font-size: 35px;
        color: rgba(33,115, 166,100%);
}
p{
    font-family: "futura-pt", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
}
li{
    font-family: "futura-pt", sans-serif;
        font-weight: 300;
        font-style: normal;
font-size: 18px;
}
#Dayone{
    margin-left: 10%;
    margin-right: 22%;
}

img{
    border-radius: 8%;
}

#DayTwo{
    margin-left: 45%;
    margin-right: 8%;
    text-align: left;
}

#DayThree{
    margin-left: 10%;
    margin-right: 22%;
}